$content_width: 100%;
$boxTitleColor: #808780;
$orange :#CC7351;
$darkGrrenGray: #5f6d5f;
$transparentLightGreen: rgb(211, 228, 205, 0.4);

.ownerprofileContainer{
    width: $content_width;
    margin-top: 0%;
    margin-left: 50%;
    padding: 2%;
    transform: translateX(-50%);
    color: gray;
    margin-bottom: 7%;
}

.boxItem{
    vertical-align: top;
    display: inline-block;
    
}

.boxItemTitle{
    margin-left: 5%;
    font-size: 18px;
    color: gray;
    
}

.infoBox{
    padding-left: 10%;
    padding-top: 5%;
}

.boxTitle{
    font-size: 20px;
    font-style: italic;
    color: $boxTitleColor
    
}

.infoBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: $transparentLightGreen;
    height: 100%;
    border-radius: 5%;
    margin-bottom: 7%;
    border: solid thin $darkGrrenGray;
    overflow: auto;
}

.boxItemText{
    font-size: 18px;
}

.changePassBtn{
    background-color: #99A799;
    color: black;
}

.email{
    font-size: 20px;
}

.biograpy{
    margin-left: 10%;
}